{% extends "stay_base.html" %}
{% load static %}

{% block content %}
<section data-bs-version="5.1" class="slider1 cid-twokLmjxte" id="slider1-13">
    
    <div class="carousel slide" id="twuaWbl6f9" data-interval="5000" data-bs-interval="5000">
        <ol class="carousel-indicators">
            <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#twuaWbl6f9" data-bs-target="#twuaWbl6f9"></li><li data-slide-to="1" data-bs-slide-to="1" class="" data-target="#twuaWbl6f9" data-bs-target="#twuaWbl6f9"></li><li data-slide-to="2" data-bs-slide-to="2" class="" data-target="#twuaWbl6f9" data-bs-target="#twuaWbl6f9"></li>
            
            
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item slider-image item active">
                <div class="item-wrapper">
                    <img class="d-block w-100" src="{%static "assets/images/slider1-1900x1200.jpg"%}" " data-slide-to="0" data-bs-slide-to="0">
                    
                    <div class="carousel-caption">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                            <strong>Full-Width Slider</strong>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style display-7">Click on the image to edit slides.</p>
                    </div>
                </div>
            </div><div class="carousel-item slider-image item">
                <div class="item-wrapper">
                    <img class="d-block w-100" src="{%static "assets/images/slider3-1900x1200.jpg"%}" data-slide-to="1" data-bs-slide-to="1">
                    
                    <div class="carousel-caption">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                            <strong>Full-Width Slider</strong>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style display-7">Click on the image to edit slides.</p>
                    </div>
                </div>
            </div><div class="carousel-item slider-image item">
                <div class="item-wrapper">
                    <img class="d-block w-100" src="{%static "assets/images/slider2-1900x1200.jpg"%}"" data-slide-to="2" data-bs-slide-to="2">
                    
                    <div class="carousel-caption">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                            <strong>Full-Width Slider</strong>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style display-7">Click on the image to edit slides.</p>
                    </div>
                </div>
            </div>
            
            
        </div>
        <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" data-bs-slide="prev" href="#twuaWbl6f9">
            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
            <span class="sr-only visually-hidden">Previous</span>
        </a>
        <a class="carousel-control carousel-control-next" role="button" data-slide="next" data-bs-slide="next" href="#twuaWbl6f9">
            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
            <span class="sr-only visually-hidden">Next</span>
        </a>
    </div>
</section>

<section data-bs-version="5.1" class="features13 cid-twokHak0Xn" id="features14-10">
    

    
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-4 mbr-fonts-style display-2"><strong><span style="font-family: 'Lilita One',cursive;">THEME</span></strong></h3>
            </div>
            <div class="card col-12 col-md-4 col-lg-2 p-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span ><img src="{%static "assets/images/Theme1.png"%}"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>해변가</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span><img src="{%static "assets/images/Theme2.png"%}"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>한옥</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span><img src="{%static "assets/images/Theme3.png"%}"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>캠핑</strong>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span><img src="{%static "assets/images/Theme4.png"%}"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>도시</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span><img src="{%static "assets/images/Theme5.png"%}"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>자연</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span><img src="{%static "assets/images/Theme6.png"%}"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>인기 급상승</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider5 mbr-embla cid-twq3SaIC07" id="slider5-26">
    
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgba(162, 195, 249, 0.751);"><img src="{%static "assets/images/바다_BACK.png"%}">
    </div>
    <div class="position-relative">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong><span style="font-family: 'Lilita One',cursive;">OCEAN</span></strong></h4>
            
        </div>
        <div class="embla mt-4" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid">
                <div class="embla__container">
                    
                    
                    
                    <div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="{%static "assets/images/바다1.png"%}"  data-slide-to="0" data-bs-slide-to="0">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5"><strong><span style="font-family: 'Lilita One',cursive;">BUSAN</span></strong></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">부산 광안리 해수욕장</h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">힘들때 지칠때 때로는 좋은 추억이 필요할 때 그 필요한 곳을 선물할 수 있는 소중한 공간이 될 것을 약속합니다.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail1'%}" class="btn btn-warning" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="{%static "assets/images/바다2.png"%}"  data-slide-to="1" data-bs-slide-to="1">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5"><strong><span style="font-family: 'Lilita One',cursive;">KANGHWA</span></strong></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">강화도</h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">힘들때 지칠때 때로는 좋은 추억이 필요할 때 그 필요한 곳을 선물할 수 있는 소중한 공간이 될 것을 약속합니다.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail1'%}" class="btn btn-warning" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="{%static "assets/images/바다3.png"%}" data-slide-to="2" data-bs-slide-to="2">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5"><strong><span style="font-family: 'Lilita One',cursive;">INCHEON</span></strong></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">인천</h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">힘들때 지칠때 때로는 좋은 추억이 필요할 때 그 필요한 곳을 선물할 수 있는 소중한 공간이 될 것을 약속합니다.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail1'%}" class="btn btn-warning" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="{%static "assets/images/바다4.png"%}"data-slide-to="3" data-bs-slide-to="3">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5"><strong><span style="font-family: 'Lilita One',cursive;">GANGNEUNG</span></strong></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">강릉</h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">힘들때 지칠때 때로는 좋은 추억이 필요할 때 그 필요한 곳을 선물할 수 있는 소중한 공간이 될 것을 약속합니다.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail1'%}" class="btn btn-warning" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="{%static "assets/images/바다5.png"%}" data-slide-to="4" data-bs-slide-to="4">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5"><strong><span style="font-family: 'Lilita One',cursive;">BUSAN</span></strong></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">부산 해운대 해수욕장</h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">힘들때 지칠때 때로는 좋은 추억이 필요할 때 그 필요한 곳을 선물할 수 있는 소중한 공간이 될 것을 약속합니다.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail1'%}" class="btn btn-warning" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="embla__button embla__button--prev">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider6 mbr-embla cid-twu5zGVEPU" id="slider6-27">
    
    
    <div class="position-relative">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong><span style="font-family: 'Lilita One',cursive;">NATURE</span></strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">자연속에서 힐링하고 싶을때</h5>
        </div>
        <div class="embla mt-4" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid">
                <div class="embla__container">
                    
                    
                    
                    <div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{%static "assets/images/자연1.png"%}" data-slide-to="0" data-bs-slide-to="0">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-4"><em>Japan</em></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong><span style="font-family: 'Lilita One',cursive;">Yufuin</span></strong></h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">일본에서 두 번째로 많은 온천량을 자랑하는 오이타 유후시에 위치한 온천마을</p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail2'%}" class="btn item-btn btn-primary-outline display-7" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{%static "assets/images/자연2.png"%}" data-slide-to="1" data-bs-slide-to="1">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-4"><em>Korea</em></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong><span style="font-family: 'Lilita One',cursive;">Jeju</span></strong></h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">세계 7대 자연경관을 자랑하는 제주국제자유도시의 중심 도시 탐라천년의 역사와 독특한 문화를 간직한 전통문화의 도시</p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail2'%}" class="btn item-btn btn-primary-outline display-7" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{%static "assets/images/자연3.png"%}" data-slide-to="2" data-bs-slide-to="2">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-4"><em>Korea</em></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong><span style="font-family: 'Lilita One',cursive;">Jeonju</span></strong></h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">전주 한옥마을에 인접해 있으며 도심속 전원을 만끽할 수 있는 뛰어난 풍광과 고즈넉함을 겸비한 한옥입니다.</p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail2'%}" class="btn item-btn btn-primary-outline display-7" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{%static "assets/images/자연4.png"%}" data-slide-to="3" data-bs-slide-to="3">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-4"><em>Philippines</em></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong<span style="font-family: 'Lilita One',cursive;">El Nido, MIMAROPA</span></strong></h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Floral Island Resort is nestled in the middle of Talacanen island and offers a secluded and exclusive atmosphere.!</p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail2'%}" class="btn item-btn btn-primary-outline display-7" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{%static "assets/images/slider1-600x379.jpg"%}" data-slide-to="4" data-bs-slide-to="4">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-4"><em>Philippines</em></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong><span style="font-family: 'Lilita One',cursive;">Boracay island</span></strong></h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Astoria Current Hotel offers 4-star accommodation with a gym area and a fitness centre located in Boracay Island. </p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail2'%}" class="btn item-btn btn-primary-outline display-7" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="embla__button embla__button--prev">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider5 mbr-embla cid-twq3R9xcek" id="slider5-25">
    
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgba(200, 201, 194, 0.913);"><img src="{%static "assets/images/도시_BACK.png"%}">
    </div>
    <div class="position-relative">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong><span style="font-family: 'Lilita One',cursive;">CITY</span></strong></h4>
            
        </div>
        <div class="embla mt-4" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid">
                <div class="embla__container">
                    
                    
                    
                    <div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="{%static "assets/images/도시1.png"%}" data-slide-to="0" data-bs-slide-to="0">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5"><strong><span style="font-family: 'Lilita One',cursive;">SEOUL</span></strong></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">잠실</h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">힘들때 지칠때 때로는 좋은 추억이 필요할 때 그 필요한 곳을 선물할 수 있는 소중한 공간이 될 것을 약속합니다.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail3'%}" class="btn btn-warning" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="{%static "assets/images/도시2.png"%}" data-slide-to="1" data-bs-slide-to="1">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5"><strong><span style="font-family: 'Lilita One',cursive;">CHUNCHEON</span></strong></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">강원도 춘천</h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">힘들때 지칠때 때로는 좋은 추억이 필요할 때 그 필요한 곳을 선물할 수 있는 소중한 공간이 될 것을 약속합니다.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail3'%}" class="btn btn-warning" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="{%static "assets/images/도시3.png"%}" data-slide-to="2" data-bs-slide-to="2">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5"><strong><span style="font-family: 'Lilita One',cursive;">DAEJEON</span></strong></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">대전</h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">힘들때 지칠때 때로는 좋은 추억이 필요할 때 그 필요한 곳을 선물할 수 있는 소중한 공간이 될 것을 약속합니다.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail3'%}" class="btn btn-warning" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="{%static "assets/images/도시4.png"%}" data-slide-to="3" data-bs-slide-to="3">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5"><strong><span style="font-family: 'Lilita One',cursive;">SEOUL</span></strong></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">여의도</h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">힘들때 지칠때 때로는 좋은 추억이 필요할 때 그 필요한 곳을 선물할 수 있는 소중한 공간이 될 것을 약속합니다.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail3'%}" class="btn btn-warning" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="{%static "assets/images/slider3-600x379.jpg"%}" data-slide-to="4" data-bs-slide-to="4">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5"><strong><span style="font-family: 'Lilita One',cursive;">CHUNGCHEONG-DO</span></strong></h5>
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">충청도 태안</h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">힘들때 지칠때 때로는 좋은 추억이 필요할 때 그 필요한 곳을 선물할 수 있는 소중한 공간이 될 것을 약속합니다.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'stay:detail3'%}" class="btn btn-warning" target="_blank"><span style="font-family: 'Lilita One',cursive;">SHOW NOW &gt;</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="embla__button embla__button--prev">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class=" mbr-fullscreen" id="countdown2-q">
    

    
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(255, 255, 255);"><img src="{%static "assets/images/timeattack.png"%}">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="mbr-section-title mb-5 align-center mbr-fonts-style display-2">
                    <strong><span style="font-family: 'Lilita One',cursive;">Coming Soon</span></strong>
                </h3>
                <h4 class="mbr-section-subtitle mb-5 align-center mbr-fonts-style display-2">
                    <span style="font-family: 'Righteous',cursive;">2024/01/01 EUROPE AREA OPEN!</span>
                </h4>
                <div class="countdown-cont align-center mb-5">
                    <div class="daysCountdown col-xs-3 col-sm-3 col-md-3" title="Days"></div>
                    <div class="hoursCountdown col-xs-3 col-sm-3 col-md-3" title="Hours"></div>
                    <div class="minutesCountdown col-xs-3 col-sm-3 col-md-3" title="Minutes"></div>
                    <div class="secondsCountdown col-xs-3 col-sm-3 col-md-3" title="Seconds"></div>
                    <div class="countdown" data-due-date="2024/01/01"></div>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
{% endblock %}